@import "@style";

.social {
  align-items: center;
  display: flex;
  gap: 1.25rem;
  .icon {
    cursor: pointer;
    height: auto;
    transition: filter 0.3s ease;
    width: 2.5rem;

    &:hover {
      filter: none;
    }
  }
}
