@import "@style";

.tutorialItem {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  font-weight: 600;
  gap: 0.8rem;

  .index {
    align-items: center;
    background-color: $orange2;
    border-radius: 50%;
    color: $orange6;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    line-height: 0.625rem;
    padding: 0.875rem;
  }
}
