@import "@style";
.frontend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 1.875rem auto;
  .summary {
    margin: 2.5rem auto;
    font-size: 1.875rem;
    font-weight: 700;
  }
}
