@import "@style";
.MDXContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  @include medias($xl) {
    padding: 0 10%;
  }
  .mdxHeader {
    .title {
      padding: 1.875rem 0 1rem 0;
      font-size: 250%;
      font-weight: bolder;
    }
    .flag {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      .date {
        display: flex;
        align-items: center;
        gap: 0.375rem;
        color: $gray6;
      }
      .tags {
        display: flex;
        gap: 0.875rem;
        color: $gray6;
        font-style: italic;
      }
    }
    .coverPath {
      width: 100%;
      height: auto;
      margin: 1.875rem 0;
    }
  }
  .mdxContent {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    p {
      color: var(--sub-text-color);
      line-height: 2.8;
    }
    ul li {
      line-height: 2.8;
    }
  }
}
