@import "@style";
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.0625rem solid var(--border-color);
  padding: 1rem;
  color: $gray3;
  @include medias(($l, $xl)) {
    padding: 1rem 10%;
  }
  .right {
  }
}
