@import "./color.scss";

// Variable for light mode !
$primary-border-color: $gray4;
$second-border-color: $gray2;

$primary-text-color: $gray9;
$sub-text-color: $gray8;

$bg-color: $white;

$theme-color: $white;

// -------------------------------------- //

// Variable for dark mode !
$primary-border-color-dark: $gray7;
$second-border-color-dark: $gray6;

$primary-text-color-dark: $gray2;
$sub-text-color-dark: $gray5;

$bg-color-dark: $gray9;

$theme-color-dark: $dark;
