@import "./color.scss";

// Variable for light mode !
$border-color: $gray1;
$bg-color: $steelBlue1;
$text-color: $gray7;

// Variable for dark mode !
$border-color-dark: $gray4;
$bg-color-dark: $gray7;
$text-color-dark: $gray1;
