@import "@style";

:root {
  // Global css variables
  --border-color: #{$primary-border-color};
  --second-border-color: #{$second-border-color};
  --bg-color: #{$bg-color};
  --primary-text-color: #{$primary-text-color};
  --sub-text-color: #{$sub-text-color};
  --theme-color: #{$theme-color};
}

* {
  box-sizing: border-box;
  line-height: 1.2;
  margin: 0;
  padding: 0;

  a {
    color: currentcolor;
    text-decoration: none;
  }
}

body {
  #fullStackLayout {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    font-family:
      Inter,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Fira Sans",
      "Droid Sans",
      "Helvetica Neue",
      sans-serif;
    font-size: 16px;
    min-height: 100vh;

    @include medias(($s, $m)) {
      font-size: 14px;
    }

    .headerBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      backdrop-filter: blur(0.625rem);
      border-bottom: 0.0625rem solid var(--border-color);
      color: $gray6;
      padding: 1rem;
      position: sticky;
      top: 0;

      @include medias(($xl)) {
        padding: 1rem 10%;
      }
    }

    .contentBox {
      flex: 1;
      padding: 1rem;
      @include medias($xl) {
        box-sizing: border-box;
        padding: 3% 20%;
      }
    }

    .footerBox {
      align-items: center;
      border-top: 0.0625rem solid var(--border-color);
      color: $gray6;
      display: flex;
      justify-content: space-between;
      padding: 1rem;

      @include medias(($xl)) {
        padding: 1rem 10%;
      }

      @include medias($s) {
        flex-direction: column-reverse;
        gap: 0.625rem;
      }
    }
  }

  .fullStackLayout_dark {
    --border-color: #{$primary-border-color-dark};
    --second-border-color: #{$second-border-color-dark};
    --bg-color: #{$bg-color-dark};
    --primary-text-color: #{$primary-text-color-dark};
    --sub-text-color: #{$sub-text-color-dark};
    --theme-color: #{$theme-color-dark};
  }
}
