@import "@style";
.title {
  font-size: 3.125rem;
  font-weight: 700;
  padding-top: 2.5rem;
  padding-bottom: 1.875rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid $gray2;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .date {
    color: $gray3;
  }
}
.contents {
  margin: 3.125rem 0;
  p,
  li {
    color: $gray5;
    margin-bottom: 0.625rem;
    line-height: 1.7;
  }
}
