@import "@style";

.tutorialMenu {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.375rem;

  &:hover {
    color: $primary-color;
  }
}
.pcMenuModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 80%;
  overflow: auto;
  padding: 1.25rem;
  background-color: $light;
  outline-color: aliceblue;
  .pcItem {
    width: 46%;
  }
}
.mobileMenuModal {
  :global(.MuiPaper-root) {
    height: 70%;
    padding: 0.75rem;
  }
  .mobileItem {
    width: 100%;
  }
}
.headline {
  text-align: center;
  margin-bottom: 0.875rem;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .menuItem {
    margin-bottom: 0.875rem;
  }
}
