@import "@style";
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.0625rem solid var(--border-color);
  padding: 1rem;
  position: sticky;
  top: 0;
  color: $gray3;
  backdrop-filter: blur(0.625rem);
  @include medias(($l, $xl)) {
    padding: 1rem 10%;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    :global(.ant-menu) {
      width: 12.5rem;
      font-size: 1.125rem;
      border: none;
      background: none;
      a {
        color: $gray3;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .right {
    .icon {
      cursor: pointer;
      transition: transform 0.5s ease-in-out;
    }

    .icon:hover {
      transform: rotate(30deg);
    }

    .theme {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
  }
}
