@import "@style";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.0625rem solid var(--border-color);
  padding: 1rem;
  position: sticky;
  top: 0;
  color: $gray3;
  backdrop-filter: blur(0.625rem);

  @include medias(($l, $xl)) {
    padding: 1rem 10%;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
  }

  .left {
    flex: 1;

    .avatar {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      color: var(--text-color);
    }

    .mobileShow {
      display: none;

      @include medias($s) {
        display: block;
      }
    }
  }

  .right {
    @include medias($s) {
      display: none;
    }

    .icon {
      cursor: pointer;
      transition: transform 0.5s ease-in-out;
    }

    .icon:hover {
      transform: rotate(30deg);
    }

    .theme {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }
  }
}

.drawMenu {
  @include medias($s) {
    width: 10.375rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2.25rem;
  }

}