@import "@style";

.center {
  align-items: center;
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
}

.left {
  flex: 1;

  .avatar {
    align-items: center;
    color: var(--primary-text-color);
    display: flex;
    gap: 1.25rem;
  }

  .mobileShow {
    display: none;

    @include medias($s) {
      display: block;
    }
  }
}

.right {
  @include medias($s) {
    display: none;
  }

  .icon {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
  }

  .icon:hover {
    transform: rotate(30deg);
  }

  .theme {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .menuItem:hover {
    color: $green7;
  }
}

.drawMenu {
  @include medias($s) {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    justify-content: space-between;
    margin-top: 2.5rem;
    width: 10.375rem;
  }
}
