@import "@style";

.about {
  margin: 1.875rem auto;
  .line {
    padding: 1.875rem 0;
    margin-bottom: 1.875rem;
    border-bottom: 1px solid $gray4;
  }
  .boldText {
    font-size: 1.625rem;
    font-weight: bold;
  }

  .profile {
    display: flex;
    gap: 6rem;
    align-items: center;
    @include medias(($s, $m)) {
      flex-direction: column;
      gap: 2rem;
    }
    .me {
      display: flex;
      flex-direction: column;
      align-items: center;
      .img {
        width: 60%;
        height: auto;
        margin-bottom: 1.25rem;
        @include medias(($s, $m)) {
          width: 54%;
        }
      }
    }
    .introduce {
      max-width: 50%;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      @include medias(($s, $m)) {
        max-width: 100%;
      }
      .summary {
        font-size: 1.125rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .title {
          font-size: 1.5rem;
          font-weight: bold;
        }
        p {
          line-height: 1.4;
        }
      }
      .keySkill {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .hightLight {
          display: flex;
          flex-direction: column;
          align-items: center;
          .number {
            color: $green7;
            font-size: 2.5rem;
          }
        }
      }
    }
  }
  .skills {
    .chart {
      width: 60%;
      height: auto;
    }
  }
  .experience {
  }
}
