@import "@style";

.home {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.875rem;
    h1 {
        font-size: 6rem;
        font-weight: 800;
        line-height: 1.2;
        padding-top: 3rem;
        padding-bottom: 1rem;
        @include medias(($s, $m)) {
            font-size: 3rem;
        }
    }
    h2 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.2;
        @include medias(($s, $m)) {
            font-size: 2rem;
        }
    }

    p {
        color: var(--sub-text-color);
        font-size: 1.875rem;
        font-weight: 400;
        padding: 0 2.875rem;

        @include medias(($s, $m)) {
            font-size: 1.625rem;
            padding: 0.875rem;
        }
    }
    .start {
        cursor: pointer;
        margin: 3.75rem auto;
        background-color: var(--primary-text-color);
        color: var(--theme-color);
        padding: 1rem;
        border-radius: 1rem;
        font-size: 1.5rem;
    }
}
