@import "@style";
.homeContent {
    position: absolute;
    top: 44%;
    left: 46%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 40px auto;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    @include medias(($s, $m)) {
        box-sizing: border-box;
        gap: 3rem;
        padding: 2.5rem 0;
        position: relative;
        left: 0;
        transform: none;
        flex-direction: column;
    }
    .hightLight {
        color: $green7;
    }

    .left {
        width: 44%;
        height: auto;
        @include medias(($s, $m)) {
            width: 70%;
        }
    }
    .right {
        min-width: 80%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        .title {
            font-size: 74px;
        }
        .subTitle {
            font-size: 1.875rem;
        }
        .content {
            line-height: 1.4;
            .number {
                font-size: 1.5rem;
            }
        }
        .buttons {
            display: flex;
            align-items: center;
            gap: 1.875rem;
            .button {
                cursor: pointer;
                color: white;
                padding: 0.5rem 1rem;
                border-radius: 1.875rem;
                background-color: $green7;
            }
        }
    }
}
