@import "@style";
.homeContent {
    position: absolute;
    top: 44%;
    left: 46%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 40px auto;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    .hightLight {
        color: $green7;
    }

    .left {
        width: 54%;
        height: auto;
    }
    .right {
        min-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        .title {
            font-size: 60px;
        }
        .subTitle {
            font-size: 1.875rem;
        }
        .content {
            line-height: 1.4;
            font-size: 1.25rem;
            .number {
                font-size: 1.5rem;
            }
        }
        .buttons {
            display: flex;
            align-items: center;
            gap: 1.875rem;
            .button {
                cursor: pointer;
                color: white;
                padding: 0.5rem 1rem;
                border-radius: 1.875rem;
                background-color: $green7;
            }
        }
    }
}
