@import "@style";

.blogCard {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  padding: 0.625rem;
  transition: transform 0.3s ease;

  @include medias($s) {
    border-bottom: 0.0625rem solid var(--border-color);
    padding-bottom: 1.25rem;
  }

  @include medias(($l, $xl)) {
    &:hover {
      border: 0.125rem solid $primary-color;
      border-radius: 0.625rem;
      transform: translateY(-10px);
    }
  }

  .conver {
    border-radius: 0.625rem;
    height: auto;
    width: auto;
  }

  .title {
    font-weight: 700;
    margin-bottom: 0.375rem;
    color: var(--primary-text-color);
  }

  .desc {
    -webkit-box-orient: vertical;
    color: $gray6;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
}
