@import "@style";
.bio {
  display: flex;
  justify-content: space-between;
  margin: 3.125rem 0;
  gap: 3.125rem;
  .avatar {
    border-radius: 5%;
    box-shadow: white 0px 0px 0px 25rem inset;
  }
  .info {
    line-height: 2.5rem;
  }
}
