.menu {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  justify-content: space-between;
  .paths {
    display: flex;
    gap: 1.25rem;
    .item {
      &:hover {
        border-bottom: 1px solid black;
      }
    }
  }
}
