@import "@style";

.widget {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    @include medias($s) {
        flex-direction: column;
    }
    .item {
        width: 30%;
        @include medias(($s, $m)) {
            width: 100%;
        }
    }
}
